@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* --background-color: #75E6DA; */
  --background-color: #b968c7;
  --background-theme-color: white;
  --background-invert-theme-color: black;
}

body {
  margin: 0;
  padding: 0;
  color: var(--background-invert-theme-color);
  font-size: 20px;
  background-color: var(--background-theme-color);
  font-family: 'poppins', 'sans-serif';
  /* background-image: url(/bg.png);
  background-repeat: no-repeat;
  background-size: cover; */
}

/* Scrollbar track (background) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-color);
  /* background: rgba(rgb(var(--background-invert-theme-color)), .959); */
  border-radius: 3px;
  color: var(--background-invert-theme-color);
}

::-webkit-scrollbar-track {
  background: var(--background-theme-color);
}

.wave {
  font-size: 50px;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  animation-name: waveHand;
  display: inline-block;
  transform-origin: 70% 70%;
}

/* ====== */
.theme-toggle-switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.theme-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 24px;
  font-size: 30px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 18px;
  left: -10px;
  bottom: 5px;
  content: attr(data-emoji);
  transition: 0.4s;
  border-radius: 50%;
}

.theme-toggle-switch input:checked+.toggle-slider {
  background-color: var(--background-color);
}

.theme-toggle-switch input:checked+.toggle-slider:before {
  transform: translateX(18px);
}

/* ====== */

/* typewriter css  */
.typing-container {
  /* font-family: monospace; */
  font-size: 24px;
  /* display: flex; */
  /* align-items: center; */
  white-space: nowrap;
  overflow: hidden;
}

.static-text {
  margin-right: 5px;
}

/* Typing & deleting animation */
.dynamic-text .text {
  display: inline-block;
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 16s steps(20, end) infinite;
}

.cursor,
.typed-text {
  color: var(--background-color);
  font-weight: 800;
  word-break: break-all;
}

.cursor {
  animation: cursor 1s infinite;
}

/* Keyframes for the full cycle: type + pause + delete */
@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    content: "Web Developer";
    width: 0ch;
  }

  5% {
    width: 14ch;
  }

  15% {
    width: 14ch;
  }

  20% {
    width: 0ch;
  }

  25% {
    content: "Backend Developer";
    width: 0ch;
  }

  30% {
    width: 18ch;
  }

  40% {
    width: 18ch;
  }

  45% {
    width: 0ch;
  }

  50% {
    content: "MERN Stack Developer";
    width: 0ch;
  }

  55% {
    width: 21ch;
  }

  65% {
    width: 21ch;
  }

  70% {
    width: 0ch;
  }

  100% {
    width: 0ch;
  }
}

/* typewriter css  */

.header-left {
  align-content: center;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* border-bottom: 1px solid var(--background-color); */
  backdrop-filter: blur(10px);
  background-color: rgba(rgb(var(--background-color)), 0.3);
  /* box-shadow: 0px 6px 18px -5px var(--background-color); */
  box-shadow: 0px 0px 0px 1px var(--background-color);
  z-index: 9999;
}

.header-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 100px;
}

.header-section .header-left a {
  text-decoration: none;
  color: var(--background-invert-theme-color);
}

.header-left>div {
  font-size: 35px;
  font-weight: bolder;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right .nav-link {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 35px;
}

.header-right .nav-link>ul {
  display: flex;
}

.header-right .nav-link>li {
  text-align: center;
  font-weight: 500;
}

.nav-link a {
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  text-decoration: none;
  color: var(--background-invert-theme-color);
}

.nav-link>li a:hover,
.nav-link>li a:active,
.nav-link>li a:focus {
  /* border-bottom: 3px solid var(--background-color); */
  color: var(--background-color);
  outline: none;
}

.btn-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  font-size: 30px;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  color: var(--background-theme-color);
}

.btn-theme:hover {
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
}

.section {
  padding: 0px 100px;
}

.container {
  display: flex;
  height: 800px;
}

.section-info,
.section-images {
  width: 50%;
}

.section-info {
  display: block;
  align-items: center;
  /* text-align: center; */
  margin: auto;
}

.sub-text {
  font-size: 20px;
  margin: 0;
}

.section .section-info .heading {
  color: var(--background-color);
  font-size: 40px;
  margin: 0;
}

.section-images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-images img {
  display: block;
  margin: auto;
  border-radius: 20%;
  width: 80%;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); */
  transition: box-shadow 0.5s ease;
}

/* .section-images img:hover {
  box-shadow: 0px 0px 50px 30px var(--background-color);
} */

/* .section-images img:hover {
  box-shadow: 0px 0px 10px 10px var(--background-color);
  animation: rotateImage 1s linear infinite;
} */

.footer {
  display: block;
  /* border-top: 2px solid var(--background-color); */
  /* box-shadow: 0px -6px 19px -6px var(--background-color); */
}

.footer-section,
.copyright-section {
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  justify-content: center;
  padding: 15px 100px 100px 100px;
}

.footer-section .portfolio-name {
  text-align: center;
}

.footer-section ul {
  padding: 0;
}

.footer-section b {
  font-size: 40px;
  color: var(--background-color);
}

.footer-section li {
  padding: 0 20px;
  text-align: center;
  list-style: none;
  padding-bottom: 5px;
  word-break: break-all;
}

.footer-section li>a {
  text-decoration: none;
  color: var(--background-invert-theme-color);
}

.footer-section .info {
  word-wrap: 10;
}

.copyright-section {
  /* border-top: 1px solid var(--background-color); */
  /* box-shadow: 0px -6px 19px -6px var(--background-color); */
  box-shadow: 0px 0px 0px 1px var(--background-color);
}

.social-links {
  margin-top: 30px;
  display: flex;
}

.social-links a {
  text-decoration: none;
  color: var(--background-invert-theme-color);
  text-align: center;
  font-weight: bolder;
}

.social-links>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  /* border: 1px solid var(--background-color); */
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
}


.contact-section .form-div .form-container .submit-btn {
  padding-top: 0;
}

.contact-section .contact-info a {
  text-decoration: none;
  color: var(--background-invert-theme-color);
}

.contact-section .contact-info .social-links {
  display: block;
}

.contact-section .contact-info .social-links .single-link {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.contact-section .contact-info .social-links .single-link>div {
  display: flex;
}

.contact-section .contact-info .social-links a {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width:768px) {
  .container {
    display: inline-block;
  }

  .section-info {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0;
    padding: 0 100px;

    div {
      width: 100%;
      text-align: left;
    }
  }

  .section-images {
    margin: 10vh auto;
    width: 100%;
    display: inline-block;
  }
}

.dropdown {
  display: none;
}

@media (max-width:830px) {
  .dropdown {
    display: block;
    font-size: 40px;
    cursor: pointer;
  }

  .header-section {
    padding: 0 40px;
  }

  .copyright-section {
    padding: 10px 40px;
    z-index: -1;
  }

  .section {
    padding: 0;
  }

  .section-info {
    padding: 0 40px;
  }

  .header-right .nav-link {

    /* display: none; */
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--background-theme-color);
    border-bottom: 1px solid var(--background-color);
    z-index: 1;


    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s;
  }

  .header-right .nav-link.nav-link-open {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .header {
    backdrop-filter: none;
    background-color: var(--background-theme-color);
  }

  .header-right .nav-link>li {
    margin-bottom: 20px;
  }

  .btn-theme {
    position: fixed;
    bottom: 20px;
    right: 10px;
  }

  .theme-toggle-switch {
    position: fixed;
    right: 20px;
    bottom: 3vh;
  }
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width:880px) {
  .footer-section {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 16px 0;
  }

  .footer-section>div {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-section .info {
    text-align: center;
  }

  .footer-section .social-links {
    justify-content: center;
  }

}

@media (max-width:622px) {
  .copyright-section {
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    width: 100%;
  }
}

.not-found-container {
  text-align: center;
}

.link-div {
  display: flex;
  justify-content: center;
  height: 50px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--background-invert-theme-color);
    background-color: var(--background-theme-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    font-size: 16px;
    width: 150px;
  }

  a:hover {
    color: var(--background-theme-color);
    background-color: var(--background-color);
  }
}

span, h1, p {
  cursor:default;
}